
<h1>Trip Dashboard</h1>
<div class="col-md-12">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= @trip.avg(:duration) %></span>
      Average Bikes Available per Station:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @trip.maximum(:duration) %></span>
      Longest Ride:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @trip.minimum(:duration) %></span>
      Shortest Ride:
    </li>
    <% start_station_id = @trip.most_common(:start_station_id) %>
    <% end_station_id = @trip.most_common(:end_station_id) %>
    <li class="list-group-item">
      <span class="badge"><%= @station.find_by(id: start_station_id).name %></span>
      The station where the most rides began:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @station.find_by(id: end_station_id).name %></span>
      The station where the most rides ended:
    </li>
  </ul>

  <table class="table table-hover">
    <tr>
      <th>Month</th>
      <th>2012</th>
      <th>2013</th>
      <th>2014</th>
      <th>2015</th>
    </tr>

    <tr>
      <td>January</td>
      <td><%= @trip.rides_by_month(0, 2012) %></td>
      <td><%= @trip.rides_by_month(0, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>February</td>
      <td><%= @trip.rides_by_month(1, 2012) %></td>
      <td><%= @trip.rides_by_month(1, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>March</td>
      <td><%= @trip.rides_by_month(2, 2012) %></td>
      <td><%= @trip.rides_by_month(2, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>April</td>
      <td><%= @trip.rides_by_month(3, 2012) %></td>
      <td><%= @trip.rides_by_month(3, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>May</td>
      <td><%= @trip.rides_by_month(4, 2012) %></td>
      <td><%= @trip.rides_by_month(4, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>June</td>
      <td><%= @trip.rides_by_month(5, 2012) %></td>
      <td><%= @trip.rides_by_month(5, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>July</td>
      <td><%= @trip.rides_by_month(6, 2012) %></td>
      <td><%= @trip.rides_by_month(6, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>August</td>
      <td><%= @trip.rides_by_month(7, 2012) %></td>
      <td><%= @trip.rides_by_month(7, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>September</td>
      <td><%= @trip.rides_by_month(8, 2012) %></td>
      <td><%= @trip.rides_by_month(8, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>October</td>
      <td><%= @trip.rides_by_month(9, 2012) %></td>
      <td><%= @trip.rides_by_month(9, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>November</td>
      <td><%= @trip.rides_by_month(10, 2012) %></td>
      <td><%= @trip.rides_by_month(10, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>December</td>
      <td><%= @trip.rides_by_month(11, 2012) %></td>
      <td><%= @trip.rides_by_month(11, 2013) %></td>
      <td><%= @trip.rides_by_month(0, 2014) %></td>
      <td><%= @trip.rides_by_month(0, 2015) %></td>
    </tr>

    <tr>
      <td>Totals</td>
      <td><%= @trip.rides_by_year(2012) %></td>
      <td><%= @trip.rides_by_year(2013) %></td>
      <td><%= @trip.rides_by_year(2014) %></td>
      <td><%= @trip.rides_by_year(2015) %></td>
    </tr>
  </table>

  <ul class="list-group">
    <% popular_bike = @trip.most_common(:bike_id) %>
    <% unpopular_bike = @trip.least_common(:bike_id) %>
    <li class="list-group-item">
      <span class="badge"><%= popular_bike %></span>
      The most ridden bike:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @trip.times_ridden(popular_bike) %></span>
      Times ridden:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= unpopular_bike %></span>
      The least ridden bike:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @trip.times_ridden(unpopular_bike) %></span>
      Times ridden:
    </li>
  </ul>

  <table class="table table-hover">
    <% customers = @trip.number_of_subscriptions(2) %>
    <% subscribers = @trip.number_of_subscriptions(1) %>

    <tr>
      <th>Subscriptions</th>
      <th>Count</th>
      <th>Percentage</th>
    </tr>
    <tr>
      <td>Customer</td>
      <td><%= customers %></td>
      <td><%= ((customers * 100)/(customers + subscribers)).to_f  %>%</td>
    </tr>
    <tr>
      <td>Subscriber</td>
      <td><%= subscribers %></td>
      <td><%= ((subscribers * 100)/(customers + subscribers)).to_f %>%</td>
    </tr>
  </table>

  <ul class="list-group">
    <% pd = @trip.pluck(:start_date).map(&:to_date) %>
    <% max_date = pd.max_by{ |i| pd.count( i ) } %>
    <% min_date = pd.min_by{ |i| pd.count( i ) } %>

    <li class="list-group-item">
      <span class="badge"><%= max_date %></span>
      Date with the most trips:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= pd.count(max_date) %></span>
      Rides on Day:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= min_date %></span>
      Date with the least trips:
    </li>
    <li class="list-group-item">
      <span class="badge"><%= pd.count(min_date) %></span>
      Rides on Day:
    </li>
  </ul>

  <h2>All Stations</h2>
  <br/>
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @stations %>
    </div>
    <%= will_paginate @stations, :container => false %>
  </div>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% @stations.each do |station| %>
      <% station_id = station.id %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%= station.id %>">
          <h4 class="panel-title">
            <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= station.id %>" aria-expanded="false" aria-controls="collapse<%= station.id %>">
              <%= @station.find_by(id: station_id).name %>
            </a>
          </h4>
        </div>
        <div id="collapse<%= station.id %>" class="panel-collapse collapse" aria-expanded="false" role="tabpanel" aria-labelledby="heading<%= station.id %>">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge"><%= @trip.started_at(station_id).count %></span>
                Number of rides started here:
              </li>
              <li class="list-group-item">
                <span class="badge"><%= @trip.ended_at(station_id).count %></span>
                Number of rides ended at:
              </li>
              <% end_station_collection = @trip.end_stations_per_start_station(station_id) %>
              <% stat_id = @trip.most_common_out_of(end_station_collection) %>
              <li class="list-group-item">
                <span class="badge"><%= stat_id.nil? ? 'No Station Data' : @station.find_by(id: stat_id).name %></span>
                Most frequent destination station:
              </li>
              <% start_station_collection = @trip.start_stations_per_end_station(station_id) %>
              <% stati_id = @trip.most_common_out_of(start_station_collection) %>
              <li class="list-group-item">
                <span class="badge"><%= stati_id.nil? ? 'No Station Data' : @station.find_by(id: stati_id).name %></span>
                Most frequent origination station:
              </li>
              <% date_collection = @trip.start_date_per_station(station_id) %>
              <% popular_start_date = @trip.most_common_out_of(date_collection) %>
              <li class="list-group-item">
                <span class="badge"><%= popular_start_date.nil? ? 'No Station Data' : popular_start_date.to_date %></span>
                Date with the highest number of trips:
              </li>
              <% zip = @trip.most_common(:zip_code_id) %>
              <li class="list-group-item">
                <span class="badge"><%= zip.nil? ? 'No Station Data' : @zip_code.find_by(id: zip).zip_code %></span>
                Frequent zip code for users starting here:
              </li>
              <% bike_id_collection = @trip.bikes_started_per_station(station_id) %>
              <% most_common_bike = @trip.most_common_out_of(bike_id_collection) %>
              <li class="list-group-item">
                <span class="badge"><%= most_common_bike.nil? ? 'No Station Data' : most_common_bike %></span>
                Most frequently used bike ID:
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
  </div>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @stations %>
    </div>
    <%= will_paginate @stations, :container => false %>
  </div>
</div>
