<h1>Station Editor</h1><br/>

<form action="/station/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="PUT"/>
  <h4>Edit Station</h4>
  <div class="input-group">
    <input type="text" name="station[name]" class="form-control" value="<%= @station.name %>" id="station_name_input" aria-describedby="basic-addon3">
  </div>
  <div class="input-group">
    <input type="text" name="station[latitude]" class="form-control" value="<%= @station.latitude %>" id="station_latitude_input" aria-describedby="basic-addon3">
  </div>
  <div class="input-group">
    <input type="text" name="station[longitude]" class="form-control" value="<%= @station.longitude %>" id="station_longitude_input" aria-describedby="basic-addon3">
  </div>
  <div class="input-group">
    <input type="text" name="station[dock_count]" class="form-control" value="<%= @station.dock_count %>" id="station_dock_count_input" aria-describedby="basic-addon3">
  </div>
  <div class="input-group">
    <input type="text" name="station[installation_date]" class="form-control" value="<%= @station.installation_date %>" id="station_installation_date_input" aria-describedby="basic-addon3">
  </div>
  <div class="input-group">
    <div class="input-group-addon">
      <div class="radio">
        <label><input type="radio" value="San Jose" name="city" aria-label="San Jose">San Jose</label>
      </div>
      <div class="radio">
        <label><input type="radio" value="Redwood City" name="city" aria-label="Redwood City">Redwood City</label>
      </div>
      <div class="radio">
        <label><input type="radio" value="Mountain View" name="city" aria-label="Mountain View">Mountain View</label>
      </div>
      <div class="radio">
        <label><input type="radio" value="Palo Alto" name="city" aria-label="Palo Alto">Palo Alto</label>
      </div>
      <div class="radio">
        <label><input type="radio" value="San Francisco" name="city" aria-label="San Francisco">San Francisco</label>
      </div>
    </div>
  </div>
  <input type="submit" value="Update Station"class="btn btn-default">
</form>


  <!-- <input type="hidden" name="_method" value="PUT"/>
  <label for="">Station Name:</label>
  <input type="textfield" name="name" value="<%= @station.name %>"><br/>
  <label for="">Latitude:</label>
  <input type="textfield" name="latitude" value="<%= @station.latitude %>"><br/>
  <label for="">Longitude:</label>
  <input type="textfield" name="longitude" value="<%= @station.longitude %>"><br/>
  <label for="">Dock Count:</label>
  <input type="textfield" name="dock_count" value="<%= @station.dock_count %>"><br/>
  <label for="">Installation Date:</label>
  <input type="textfield" name="installation_date" value="<%= @station.installation_date %>"><br/> -->
