<h1>Station: <%= @station.name %></h1>
<p>Latitude: <%= @station.latitude %></p>
<p>Longitude: <%= @station.longitude %></p>
<p>Dock Count: <%= @station.dock_count %></p>
<p>Installation Date: <%= @station.installation_date %></p>
<br/>
<a href="/stations/<%= @station.id %>/edit">Edit</a>
<form action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete" />
</form>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD59Y7L5AUP6OWTUvr5Co-7dKpEUpqK4K0
    &q=<%= @station.name %>&center=<%= @station.latitude %>, <%= @station.longitude %>" allowfullscreen>
</iframe>

